<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <style>
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>

</head>
<body>
    <center>
      <!-- upload -->
    <div class= 'dropdown'>
        <h4>upload your file here </h4>
    <form  action = '/upload_files' method = "POST" enctype="multipart/form-data">
        <p>
            <input type='file' name = 'fileToupload'>
            Select FIle name
            <select name = 'filenamax'>
                <option value = "XAUUSD" >XAUUSD</option>
                <option value = "USDCAD" >USDCAD</option>
                <option value = "USDJPY" >USDJPY</option>
                <option value = "EURUSD" >EURUSD</option>
                <option value = "GBPUSD" >GBPUSD</option>
            </select>
        <input type="submit" value="upload">
        </p>
    </form>
</div>
<h2 color = blue > <a href= '/train'> Train DataSet</a></h2>
</center>
</body>
</html>